body{
    background-color: #ffffff;
    font-family: 'Source Sans Pro';
}
.top-menu{
    background-color: #4F2683;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px; ;
}
.a-body{
    color: #000000;
}
.a-body:hover{
    color: #4F2683;
    text-decoration: none;
}
.a-menu{
    color: #e6e6e6;
    margin-right: 5px;
    margin-left: 5px;
}
.a-menu:hover{
    background-color: #999999;
    border-radius: 10px;
    color: black;
}
.a-icon{
    margin-right: 5px;
    margin-left: 5px;
}
.div-cont{
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffff;
}
.hp-img{
    width: 300px;
}
.div-img{
    margin-top: 0px; 
    /* include margin if needed! */
}
.home-header-name{
    font-weight: bold ; 
    color: #4F2683 ;
    font-size: 30px;
}
.main-p{
    font-size: 17px;
    text-align: justify;
    margin-bottom: 15px;
    color: #000000;
}
.home-about-head{
    color: #4F2683;
    font-size: 30px;
    font-weight: bold;
}
.about-p{
    text-align: justify;
    /* width: 400px; */
}
.home-education-head{
    color: #4F2683;
    font-size: 24px;
    font-weight: bold;
}