<nav class="navbar">
    <!-- <div class="nav-container"> -->
        <ul class="nav justify-content-center top-menu">
            <li class="nav-item">
            <a class="nav-link active a-menu" href="index.html"> Home </a>
            </li>
            <li class="nav-item">
            <a class="nav-link active a-menu" href="#"> Projects </a>
            </li>
            <li class="nav-item">
            <a class="nav-link active a-menu" href="#"> Publications </a>
            </li>
        </ul>
    <!-- </div> -->
</nav>