body{
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
}

.navbar {
  background-color: #d6dade; /* Change to desired color */
  border-radius: 25px; /* Rounded edges */
  padding: 10px 20px; /* Padding around the nav */
  max-width: 500px; /* Limit for larger screens */
  margin: 0 auto; /* Center the nav bar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.nav-container {
  display: flex;
  justify-content: center; /* Center items inside the nav */
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-list {
      flex-direction: column; /* Stack items vertically on smaller screens */
  }
  .nav-list li {
      margin: 5px 0; /* Space between stacked items */
  }
}

/* .a-body{
  color: #000000;
}
.a-body:hover{
  color: #4F2683;
  text-decoration: none;
}
.a-menu{
  color: #e6e6e6;
  margin-right: 5px;
  margin-left: 5px;
}
.a-menu:hover{
  background-color: #999999;
  border-radius: 10px;
  color: black;
}
.a-icon{
  margin-right: 5px;
  margin-left: 5px;
} */
.div-cont{
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #ffff;
}
.hp-img{
  width: 300px;
}
.div-img{
  margin-top: 0px; 
}
.home-header-name{
  font-weight: bold ; 
  color: #4F2683 ;
  font-size: 30px;
}
.main-p{
  font-size: 17px;
  text-align: justify;
  margin-bottom: 15px;
  color: #000000;
}
.home-about-head{
  color: #4F2683;
  font-size: 30px;
  font-weight: bold;
}
.about-p{
  text-align: justify;
  /* width: 400px; */
}
.home-education-head{
  color: #4F2683;
  font-size: 24px;
  font-weight: bold;
}